
{% extends "bootstrap/base.html" %}
{% block title %}Cat dog - clasiffier {% endblock %}


{% block content %}
<div class="container" id="container" tabindex="-1">
<h1> Please select your image to classify </h1>
  <div class="input-group">
    <div class="input-group-prepend">
    </div>
    <div class="custom-file">
      <form method=post enctype=multipart/form-data>
       <div class="form-group">
      <input type="file" class="custom-file-input" id="inputGroupFile01" onchange="PreviewImage();"
        aria-describedby="inputGroupFileAddon01" name=file>
        <input type=submit value=Upload>
        <img id="uploadPreview" style="width: 100px; height: 100px;" />
      </form>
      </div>
    </div>
  </div>
</div>
<script>
    function PreviewImage() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("inputGroupFile01").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("uploadPreview").src = oFREvent.target.result;
        };
    };
    </script>
{% endblock %}
