  <!doctype html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="bootstrap-4.3.1-dist\css\bootstrap.min.css">


<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
  </div>
  <div class="custom-file">
    <form method=post enctype=multipart/form-data>
    <input type="file" class="custom-file-input" id="inputGroupFile01"
      aria-describedby="inputGroupFileAddon01" name=file>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>
  </div>
</div>

<!-- Latest compiled JavaScript -->
<script src="bootstrap-4.3.1-dist\js\bootstrap.min.js"></script>